EHP_Client/Connected Services/ServiceReferenceGaranti/AarligTerminer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AarligTerminer" type="tns:AarligTerminerType">
    <xs:annotation>
      <xs:documentation>Hvis der ikke bruges Terminer </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AarligTerminerType">
    <xs:sequence>
      <xs:element name="Antal" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>