EHP_Client/Connected Services/ServiceReferenceGaranti/BASIS_SagsHistorikDataSamling1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:basis="http://efpi.dk/basis/xml/schemas/2007/07/01/" xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" version="1.0" xml:lang="da" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_AktoerID.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_eFPIprocesID.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_eFPISagsID.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_DokumentID.xsd" />
  <element name="SagsHistorikDataSamling" type="tns:SagsHistorikDataSamlingType" />
  <complexType name="SagsHistorikDataSamlingType">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="SagsHistorikData">
        <complexType>
          <sequence>
            <element name="Aendring">
              <simpleType>
                <restriction base="string">
                  <maxLength value="1024" />
                </restriction>
              </simpleType>
            </element>
            <element name="TidsStempel" type="dateTime" />
            <element minOccurs="0" ref="tns:eFPISagsID" />
            <element minOccurs="0" ref="tns:eFPIprocesID" />
            <element minOccurs="0" ref="tns:DokumentID" />
            <element minOccurs="0" ref="tns:AktoerID" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
</schema>