EHP_Client/Connected Services/ServiceReferenceGaranti/BASIS_Interessent.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:basis="http://efpi.dk/basis/xml/schemas/2007/07/01/" xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_AktoerID.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_ProcesReference.xsd" />
  <element name="Interessent" type="tns:InteressentType" />
  <complexType name="InteressentType">
    <sequence>
      <element ref="tns:AktoerID" />
      <element minOccurs="0" name="InteressentsEgenReference" type="tns:InteressentsEgenReferenceType" />
    </sequence>
  </complexType>
  <simpleType name="InteressentsEgenReferenceType">
    <restriction base="string">
      <maxLength value="256" />
    </restriction>
  </simpleType>
</schema>