EHP_Client/Connected Services/ServiceReferenceGaranti/BASIS_AktoerInformation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:basis="http://efpi.dk/basis/xml/schemas/2007/07/01/" xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="da" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_AktoerID.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_KontaktInformationSamling.xsd" />
  <element name="AktoerInformation" type="tns:AktoerInformationType" />
  <complexType name="AktoerInformationType">
    <sequence>
      <element name="AktoerNavn">
        <simpleType>
          <restriction base="string">
            <minLength value="1" />
            <maxLength value="256" />
          </restriction>
        </simpleType>
      </element>
      <element ref="tns:AktoerID" />
      <element ref="tns:KontaktInformationSamling" />
    </sequence>
  </complexType>
</schema>