EHP_Client/Connected Services/ServiceReferenceGaranti/DokumentInformationOverfoert.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/DokumentFilnavnTekst.xsd" />
  <element name="DokumentInformationOverfoert" type="eakt:DokumentInformationOverfoertType">
    <annotation>
      <documentation>Dokument information for et fra TLS overfoert dokument, som ikke er angivet andre steder i strukturen.</documentation>
    </annotation>
  </element>
  <complexType name="DokumentInformationOverfoertType">
    <sequence>
      <element name="DokumentTypeBeskrivelse" type="string" />
      <element name="DokumentNummer" type="string" />
      <element ref="eakt:DokumentFilnavnTekst" />
    </sequence>
  </complexType>
</schema>