EHP_Client/Connected Services/ServiceReferenceGaranti/EFPI_FristforlaengelsesAnmodning_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:anmodning="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anmodning_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_FristforlaengelsesAnmodning_v1" xmlns:fristtype="http://efpi.dk/ehp2011/xml/schemas/EFPI_FristType_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_FristforlaengelsesAnmodning_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_FristType_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_FristType_v1" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Anmodning_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anmodning_v1" />
  <element name="FristforlaengelsesAnmodning" type="tns:FristforlaengelsesAnmodningType" />
  <complexType name="FristforlaengelsesAnmodningType">
    <complexContent mixed="false">
      <extension base="anmodning:AnmodningType">
        <sequence>
          <element name="FristForlaengTil" type="dateTime" />
          <element name="FristType" type="fristtype:FristTypeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>