EHP_Client/Connected Services/ServiceReferenceGaranti/EFPI_KontaktOplysninger_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontaktOplysninger_v1" xmlns:telefon="http://efpi.dk/ehp2011/xml/schemas/EFPI_Telefon_v1" xmlns:email="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontaktOplysninger_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Telefon_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Telefon_v1" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/xkom.xsd" namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <element name="KontaktOplysninger" type="tns:KontaktOplysningerType" />
  <complexType name="KontaktOplysningerType">
    <sequence>
      <element name="Kontaktpunkt" type="strings:StringMin2Max1K" />
      <element ref="telefon:Telefon" />
      <element minOccurs="0" ref="email:EmailAddressIdentifier" />
    </sequence>
  </complexType>
</schema>