EHP_Client/Connected Services/ServiceReferenceGaranti/EFPI_AttachmentBinaryData_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dokument="http://efpi.dk/ehp2011/xml/schemas/EFPI_Dokument_v1" xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_AttachmentBinaryData_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_AttachmentBinaryData_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Dokument_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Dokument_v1" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <element name="AttachmentBinaryData" type="tns:AttachmentBinaryDataType" />
  <complexType name="AttachmentBinaryDataType">
    <complexContent mixed="false">
      <extension base="dokument:DokumentType">
        <sequence>
          <element name="data" type="base64Binary" />
        </sequence>
        <attribute name="mimetypeCode" type="strings:StringMax1000" use="required" />
        <attribute name="ID" type="ID" use="required" />
      </extension>
    </complexContent>
  </complexType>
</schema>