EHP_Client/Connected Services/ServiceReferenceGaranti/EFPI_FremsendelseInfo_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_FremsendelseInfo_v1" xmlns:beloebvaluta="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:garanti="http://efpi.dk/ehp2011/xml/schemas/EFPI_GarantiIdentifikator_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_FremsendelseInfo_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_GarantiIdentifikator_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_GarantiIdentifikator_v1" />
  <element name="FremsendelseInfo" type="tns:FremsendelseInfoType" />
  <complexType name="FremsendelseInfoType">
    <sequence>
      <element name="GarantiIdentifikator" type="garanti:GarantiIdentifikator" />
      <element name="GarantiBeloeb" type="beloebvaluta:BeloebValutaType" />
    </sequence>
  </complexType>
</schema>