EHP_Client/Connected Services/ServiceReferenceGaranti/EjerlejlighedBygningLejetGrund.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/Bygningsnummer.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/Ejerlejlighedsnummer.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/FaellesEjendomIdentifikator.xsd" />
  <element name="EjerlejlighedBygningLejetGrund" type="model:EjerlejlighedBygningLejetGrundType">
    <annotation>
      <documentation>Angiver en ejendom af typen ejerlejlighed i bygning paa lejet grund.</documentation>
    </annotation>
  </element>
  <complexType name="EjerlejlighedBygningLejetGrundType">
    <sequence>
      <element ref="model:Ejerlejlighedsnummer" />
      <element ref="model:Bygningsnummer" />
      <element minOccurs="0" name="BeliggenhedTekst" type="string" />
      <element minOccurs="0" ref="model:FaellesEjendomIdentifikator" />
    </sequence>
  </complexType>
</schema>