EHP_Client/Connected Services/ServiceReferenceGaranti/Forretningsenhed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" xmlns:itst="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/" xmlns:vd="http://rep.oio.dk/vd.dk/xml/schemas/2004/02/16/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../e-nettet.dk/xml/schemas/2007/07/01/MedarbejderSamling.xsd" />
  <xs:import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/xkom.xsd" namespace="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" />
  <xs:import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../rep.oio.dk/itst.dk/xml/schemas/2005/01/10/itst.xsd" namespace="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/" />
  <xs:element name="Forretningsenhed" type="tns:ForretningsenhedType" />
  <xs:complexType name="ForretningsenhedType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Betegnelse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" ref="xkom:EmailAddressIdentifier" />
      <xs:element minOccurs="0" ref="itst:TelephoneNumberIdentifier" />
      <xs:element minOccurs="0" ref="tns:MedarbejderSamling" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>