EHP_Client/Connected Services/ServiceReferenceGaranti/FuldmagtAnmeldt.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:cpr-1="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/cpr.xsd" namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" />
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/cvr.xsd" namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/FuldmagtOmfangIdentifikator.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/RolleReference.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/IDAttributGruppe.xsd" />
  <element name="FuldmagtAnmeldt" type="model:FuldmagtAnmeldtType">
    <annotation>
      <documentation>Angiver person eller virksomhed som oenskes indsat som
       fuldmagtshaver samt omfang af fuldmagten for det paagaeldende dokument.
       </documentation>
    </annotation>
  </element>
  <complexType name="FuldmagtAnmeldtType">
    <sequence>
      <choice>
        <element ref="cpr-1:PersonCivilRegistrationIdentifier" />
        <element ref="cvr:CVRnumberIdentifier" />
      </choice>
      <element ref="model:FuldmagtOmfangIdentifikator" />
      <element minOccurs="0" name="FuldmagtGiver" type="model:RolleReferenceType">
        <annotation>
          <documentation>Angiver en reference til en rolle for fuldmagtsgiver. Der kan angives fuldmagtsgiver ved implicit fuldmagt.</documentation>
        </annotation>
      </element>
    </sequence>
    <attributeGroup ref="model:IDAttributGruppe">
      <annotation>
        <documentation>Anvendes som reference fra snapshot.</documentation>
      </annotation>
    </attributeGroup>
  </complexType>
</schema>