EHP_Client/Connected Services/ServiceReferenceGaranti/KontaktInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" xml:lang="DA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../e-nettet.dk/xml/schemas/2007/07/01/Forretningsenhed.xsd" />
  <xs:element name="KontaktInfo" type="tns:KontaktInfoType" />
  <xs:complexType name="KontaktInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:Forretningsenhed" />
      <xs:element minOccurs="0" name="Fritekst">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>