EHP_Client/Connected Services/ServiceReferenceGaranti/ServitutSummarisk.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/AnmaerkningSamling.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/DokumentAlias.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/DokumentInformationOverfoert.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/DokumentOverfoertIndikator.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/FristInformationSamling.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/PaataleberettigetSamling.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/RelateredeDokumenter.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/ServitutTekstSummarisk.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/OgsaaLystPaaSamling.xsd" />
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/RettighedsspaltningStatusTekst.xsd" />
  <element name="ServitutSummarisk" type="eakt:ServitutSummariskType">
    <annotation>
      <documentation>Summariske oplysninger for en servitut.</documentation>
    </annotation>
  </element>
  <complexType name="ServitutSummariskType">
    <sequence>
      <element ref="model:DokumentRevisionIdentifikator" />
      <element ref="model:TinglysningsDato" />
      <element ref="model:Servitutrettighed" />
      <element minOccurs="0" ref="eakt:OgsaaLystPaaSamling">
        <annotation>
          <documentation>Angiver eventuelt antal yderligere matrikler servituttet er lyst paa. EjendomIdentifikatorSamling udfyldes ikke for servitutter.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" ref="eakt:DokumentAlias" />
      <element minOccurs="0" ref="eakt:RelateredeDokumenter" />
      <element ref="model:ServitutType" />
      <element minOccurs="0" ref="model:ServitutInformation" />
      <element ref="eakt:DokumentOverfoertIndikator" />
      <element minOccurs="0" ref="eakt:PaataleberettigetSamling" />
      <element minOccurs="0" ref="eakt:AnmaerkningSamling" />
      <element minOccurs="0" ref="eakt:ServitutTekstSummarisk" />
      <element minOccurs="0" name="TillaegstekstSamling" type="model:TekstAngivelseSamlingType" />
      <element minOccurs="0" ref="eakt:FristInformationSamling" />
      <element minOccurs="0" ref="eakt:DokumentInformationOverfoert">
        <annotation>
          <documentation>Angives for et overfoert dokument.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="TinglysningAfgiftBetalt" type="model:BeloebVaerdiType">
        <annotation>
          <documentation>Det totale tinglysningsbeloeb i danske kroner, der er betalt for anmeldelsen, der beroerte det paagaeldende dokument. Beloebet kan daekke flere dokumenter, hvis behandlingen af anmeldelsen har resulteret i flere dokumenter eller dokumentrevisioner.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" ref="eakt:RettighedsspaltningStatusTekst" />
    </sequence>
  </complexType>
</schema>