EHP_Client/Connected Services/ServiceReferenceGaranti/TekstGruppe.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/Afsnit.xsd" />
  <element name="TekstGruppe" type="model:TekstGruppeType">
    <annotation>
      <documentation>Tekst, som indeholder mulighed for en optionel overskrift og et eller flere afsnit.</documentation>
    </annotation>
  </element>
  <complexType name="TekstGruppeType">
    <sequence>
      <element minOccurs="0" name="Overskrift" type="model:AfsnitType" />
      <element maxOccurs="unbounded" ref="model:Afsnit" />
    </sequence>
  </complexType>
</schema>