EHP_Client/Connected Services/ServiceReferenceGaranti/TimeshareUger.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://e-bolighandel.e-nettet.dk:443/efpi/garanti/Garanti.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/UgenummerSamling.xsd" />
  <element name="TimeshareUger" type="model:TimeshareUgerType">
    <annotation>
      <documentation>Angiver en ejendom af typen timeshare opdelt i uger.</documentation>
    </annotation>
  </element>
  <complexType name="TimeshareUgerType">
    <sequence>
      <element name="Timesharenummer" type="nonNegativeInteger">
        <annotation>
          <documentation>Identificerer en lejlighed i en ejendom af ejendomstypen HovedejendomTimeshare.</documentation>
        </annotation>
      </element>
      <element ref="model:UgenummerSamling" />
    </sequence>
  </complexType>
</schema>