EHP_Client/Connected Services/ServiceReferenceGaranti/UgenummerSamling.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="UgenummerSamling" type="model:UgenummerSamlingType">
    <annotation>
      <documentation>Samling af ugenumre, som angives ved timeshare opdelt i uger.</documentation>
    </annotation>
  </element>
  <complexType name="UgenummerSamlingType">
    <sequence>
      <element maxOccurs="unbounded" name="Ugenummer" type="nonNegativeInteger" />
    </sequence>
  </complexType>
</schema>