EHP_Client/Connected Services/ServiceReferenceEjendomshandel/AndelBroek.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="AndelBroek" type="model:AndelBroekType">
    <annotation>
      <documentation>Angivelse af en broek for andel.</documentation>
    </annotation>
  </element>
  <complexType name="AndelBroekType">
    <sequence>
      <element name="Taeller" type="nonNegativeInteger" />
      <element name="Naevner" type="nonNegativeInteger" />
    </sequence>
  </complexType>
</schema>