EHP_Client/Connected Services/ServiceReferenceEjendomshandel/BASIS_StatusInfoSamling.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="da" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_StatusInfo.xsd" />
  <element name="StatusInfoSamling" type="tns:StatusInfoSamlingType" />
  <complexType name="StatusInfoSamlingType">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="StatusInfo" type="tns:StatusInfoType" />
    </sequence>
  </complexType>
</schema>