EHP_Client/Connected Services/ServiceReferenceEjendomshandel/BemaerkningTekstAngivelse.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/TekstGruppe.xsd" />
  <element name="BemaerkningTekstAngivelse" type="model:BemaerkningTekstAngivelseType">
    <annotation>
      <documentation>Paategningstekst, som angives via en Bemaerkningskode. Systemet tilfoejer den tilhoerende tekst. Hvis bemaerkningskode angiver fritekst, bliver teksten angivet af tinglysningsrettens sagsbehandler.</documentation>
    </annotation>
  </element>
  <complexType name="BemaerkningTekstAngivelseType">
    <sequence>
      <element name="BemaerkningKode" type="string">
        <annotation>
          <documentation>Bemaerkningskode identificerer en standard bemaerkningtekst, som tinglysningsretten kan anvende til paategninger under behandlingen af en anmeldelse.</documentation>
        </annotation>
      </element>
      <element ref="model:TekstGruppe" />
    </sequence>
  </complexType>
</schema>