EHP_Client/Connected Services/ServiceReferenceEjendomshandel/BilagReference.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/BilagReferenceKode.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/TekstAngivelse.xsd" />
  <element name="BilagReference" type="model:BilagReferenceType">
    <annotation>
      <documentation>Reference til et bilag, som ligger i Bilagsbanken.</documentation>
    </annotation>
  </element>
  <complexType name="BilagReferenceType">
    <sequence>
      <element name="BilagReference" type="string">
        <annotation>
          <documentation>Bilagsreferencen er en BilagIdentifikator af typen UUID.</documentation>
        </annotation>
      </element>
      <element ref="model:BilagReferenceKode" />
      <element name="BilagBeskrivelse" type="model:TekstAngivelseType">
        <annotation>
          <documentation>Til et bilag skal der altid vaere en forklarende tekst paa dokumentet, hvad bilaget drejer sig om.
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>