EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_TilstandsrapportRegel_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ehp="http://efpi.dk/ehp2011/xml/schemas/EFPI_TilstandsrapportRegel_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_TilstandsrapportRegel_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="TilstandsrapportRegel" type="ehp:TilstandsrapportRegelType" />
  <complexType name="TilstandsrapportRegelType">
    <sequence>
      <element name="SaelgerBenytteReglerIndikator" type="boolean" />
      <element name="FuldmagtRekvirereTilstandsrapportIndikator" type="boolean" />
    </sequence>
  </complexType>
</schema>