EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_SalgsopstillingDokument_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:formular="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingFormular_v1" xmlns:ded="http://efpi.dk/ehp2011/xml/schemas/EFPI_DEDokument_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingDokument_v1" xmlns:ns1="http://efpi.dk/ehp2011/xml/schemas/EFPI_AttachmentBinaryData_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingDokument_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_DEDokument_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_DEDokument_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_AttachmentBinaryData_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_AttachmentBinaryData_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_SalgsopstillingFormular_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingFormular_v1" />
  <element name="SalgsopstillingDokument" type="tns:SalgsopstillingDokumentType" />
  <complexType name="SalgsopstillingDokumentType">
    <complexContent mixed="false">
      <extension base="ded:DEDokumentType">
        <sequence>
          <element ref="formular:SalgsopstillingFormular" />
          <element name="TilladOffentligSoegning" type="boolean" />
          <element name="PDFSalgsopstillingDokument" type="ns1:AttachmentBinaryDataType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>