EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_UdestaaendeForbehold_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:udstaaendedeponi="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeDeponering_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeForbehold_v1" xmlns:udstaaendeantal="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeStatus_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeForbehold_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_UdestaaendeStatus_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeStatus_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_UdestaaendeDeponering_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdestaaendeDeponering_v1" />
  <element name="UdestaaendeForbehold" type="tns:UdestaaendeForbeholdType" />
  <complexType name="UdestaaendeForbeholdType">
    <sequence>
      <element name="Udestaaende" type="udstaaendeantal:UdestaaendeStatusType" />
    </sequence>
  </complexType>
</schema>