EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_ProcesMedGarantifrist_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:ss="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingSoeg_v1" xmlns:basis="http://efpi.dk/basis/xml/schemas/2007/07/01/" xmlns:gt="http://efpi.dk/ehp2011/xml/schemas/EFPI_GarantiTilstand_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_ProcesMedGarantifrist_v1" xmlns:si="http://efpi.dk/ehp2011/xml/schemas/EFPI_SagsnummerIdentifikator_v1" xmlns:kf="http://efpi.dk/ehp2011/xml/schemas/EFPI_KoebsaftaleFormular_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_ProcesMedGarantifrist_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/basis.xsd" namespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KoebsaftaleFormular_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KoebsaftaleFormular_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_SagsnummerIdentifikator_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SagsnummerIdentifikator_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_GarantiTilstand_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_GarantiTilstand_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_SalgsopstillingSoeg_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SalgsopstillingSoeg_v1" />
  <element name="ProcesMedGarantifrist" type="tns:ProcesMedGarantifristType" />
  <complexType name="ProcesMedGarantifristType">
    <sequence>
      <element ref="basis:eFPIprocesID" />
      <element ref="si:SagsnummerIdentifikator" />
      <element name="Adresse" type="ss:SalgsopstillingSoegAddresseType" />
      <element name="Koeber" type="strings:StringMin2Max256" />
      <element name="Saelger" type="strings:StringMin2Max256" />
      <element name="SenestGarantistillelse" type="kf:SenestGarantistillelseType" />
      <element name="Garantistatus" type="gt:GarantiTilstandType" />
      <element minOccurs="0" name="GarantiProcesID" type="basis:eFPIprocesIDType" />
    </sequence>
  </complexType>
</schema>