EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Indtaegter_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ehp="http://efpi.dk/ehp2011/xml/schemas/EFPI_Indtaegter_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:ejerskiftelaansamling="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjerskiftelaanSamling_v1" xmlns:saelgerpantebrevsamling="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrevSamling_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Indtaegter_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_EjerskiftelaanSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjerskiftelaanSamling_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_SaelgerPantebrevSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrevSamling_v1" />
  <element name="Indtaegter" type="ehp:IndtaegterType" />
  <complexType name="IndtaegterType">
    <sequence>
      <element name="KontantBetaling" type="model:BeloebValutaType" />
      <element ref="ejerskiftelaansamling:EjerskiftelaanSamling" />
      <element ref="saelgerpantebrevsamling:SaelgerPantebrevSamling" />
    </sequence>
  </complexType>
</schema>