EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_EjendomAreal_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns1="http://efpi.dk/ehp2011/xml/schemas/EFPI_Areal_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjendomAreal_v1" xmlns:ns2="http://efpi.dk/ehp2011/xml/schemas/EFPI_HerafAreal_v1" xmlns:beloebvaluta="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjendomAreal_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Areal_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Areal_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_HerafAreal_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_HerafAreal_v1" />
  <element name="EjendomAreal" type="tns:EjendomArealType" />
  <complexType name="EjendomArealType">
    <sequence>
      <element ref="ns1:Areal" />
      <element minOccurs="0" ref="ns2:HerafAreal" />
      <element name="Ifoelge" type="string" />
    </sequence>
  </complexType>
</schema>