EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_SaelgerPantebrevIndtaegter_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ehp="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrevIndtaegter_v1" xmlns:hovedstolbeloeb="http://efpi.dk/ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrevIndtaegter_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1" />
  <element name="SaelgerPantebrevIndtaegter" type="ehp:SaelgerPantebrevIndtaegterType" />
  <complexType name="SaelgerPantebrevIndtaegterType">
    <sequence>
      <element ref="hovedstolbeloeb:HovedstolBeloeb" />
      <element name="IndtaegtFoersteAarBeloeb" type="model:BeloebValutaType" />
      <element name="RenteFoersteAarBeloeb" type="model:BeloebValutaType" />
    </sequence>
  </complexType>
</schema>