EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Udestaaende_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Udestaaende_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Udestaaende_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <element name="Udestaaende" type="tns:UdestaaendeType" />
  <complexType name="UdestaaendeType">
    <sequence>
      <element name="Beloeb" type="model:BeloebValutaType" />
      <element name="Tidsstempel" type="dateTime" />
    </sequence>
  </complexType>
</schema>