EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Areal_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns1="http://efpi.dk/ehp2011/xml/schemas/EFPI_DokumentMetaBeskrivelseSamling_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Areal_v1" xmlns:ns2="http://efpi.dk/ehp2011/xml/schemas/EFPI_ArealtypeKode_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Areal_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_ArealtypeKode_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_ArealtypeKode_v1" />
  <element name="Areal" type="tns:ArealType" />
  <complexType name="ArealType">
    <sequence>
      <element name="Kvadratmeter" type="integer" />
      <element name="Type" type="ns2:ArealtypeKodeType" />
    </sequence>
  </complexType>
</schema>