EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_SaelgerPantebrev_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tinglysningsafgift="http://efpi.dk/ehp2011/xml/schemas/EFPI_TinglysningsAfgift_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:ehp="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrev_v1" xmlns:kursvaerdi="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kursvaerdi_v1" xmlns:kontantvaerdibeloeb="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantvaerdiBeloeb_v1" xmlns:hovedstolbeloeb="http://efpi.dk/ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SaelgerPantebrev_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_HovedstolBeloeb_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Kursvaerdi_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kursvaerdi_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_TinglysningsAfgift_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_TinglysningsAfgift_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KontantvaerdiBeloeb_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantvaerdiBeloeb_v1" />
  <element name="SaelgerPantebrev" type="ehp:SaelgerPantebrevType" />
  <complexType name="SaelgerPantebrevType">
    <sequence>
      <element ref="hovedstolbeloeb:HovedstolBeloeb" />
      <element name="Kurs" type="double" />
      <element ref="kursvaerdi:Kursvaerdi" />
      <element ref="tinglysningsafgift:TinglysningsAfgift" />
      <element name="Salgsprovision" type="model:BeloebValutaType" />
      <element ref="kontantvaerdibeloeb:KontantvaerdiBeloeb" />
    </sequence>
  </complexType>
</schema>