EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_AftalePart_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:part="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_AftalePart_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_AftalePart_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Part_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" />
  <element name="AftalePart" type="tns:AftalePartType" />
  <complexType name="AftalePartType">
    <sequence>
      <element ref="part:Part" />
      <element minOccurs="0" name="UnderskriftsDato" type="date" />
    </sequence>
  </complexType>
</schema>