EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_ProcesSoeg_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_ProcesSoeg_v1" xmlns:rolid="http://efpi.dk/ehp2011/xml/schemas/EFPI_RolleID_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_ProcesSoeg_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_RolleID_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_RolleID_v1" />
  <complexType name="ProcesSoegFundType">
    <sequence>
      <element name="Procestype" type="tns:ProcestypeKodeType" />
      <element minOccurs="0" name="ProcesID" type="string" />
      <element minOccurs="0" name="EjendomsmaeglersSagsReference" type="string" />
      <element minOccurs="0" name="SagsReference" type="string" />
      <element minOccurs="0" name="Adresse" type="string" />
      <element minOccurs="0" name="Matrikelbetegnelse" type="string" />
      <element minOccurs="0" name="BBR" type="string" />
      <element minOccurs="0" name="Ejendomsmaegler" type="string" />
      <element minOccurs="0" name="OpdateretDato" type="dateTime" />
      <element minOccurs="0" name="Rolle" type="rolid:RolleIDType" />
      <element name="StatusLabel" type="string" />
    </sequence>
  </complexType>
  <simpleType name="ProcestypeKodeType">
    <restriction base="string">
      <enumeration value="Salgsopstilling" />
      <enumeration value="Handel" />
      <enumeration value="Garanti" />
    </restriction>
  </simpleType>
  <complexType name="ProcesSoegFundSamlingType">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="Fund" type="tns:ProcesSoegFundType" />
    </sequence>
  </complexType>
</schema>