EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Anvendelsesudgift_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:udgiftperaar="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdgiftPerAar_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anvendelsesudgift_v1" xmlns:kode="http://efpi.dk/ehp2011/xml/schemas/EFPI_AnvendelsesudgiftstypeKode_v1" xmlns:forbrugenhedkode="http://efpi.dk/ehp2011/xml/schemas/EFPI_SenesteAarsforbrugenhedKode_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anvendelsesudgift_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_AnvendelsesudgiftstypeKode_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_AnvendelsesudgiftstypeKode_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_SenesteAarsforbrugEnhedKode_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_SenesteAarsforbrugenhedKode_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_UdgiftPerAar_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdgiftPerAar_v1" />
  <element name="Anvendelsesudgift" type="tns:AnvendelsesudgiftType" />
  <complexType name="AnvendelsesudgiftType">
    <sequence>
      <element ref="kode:AnvendelsesudgiftstypeKode" />
      <element minOccurs="0" name="AndenAnvendelsesudgiftstype" type="strings:StringMin2Max256" />
      <element name="SenesteAarsforbrug" type="decimal" />
      <element ref="forbrugenhedkode:SenesteAarsforbrugEnhedKode" />
      <element ref="udgiftperaar:UdgiftPerAar" />
    </sequence>
  </complexType>
</schema>