EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_ByggetekniskGennemgang_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ehp="http://efpi.dk/ehp2011/xml/schemas/EFPI_ByggetekniskGennemgang_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_ByggetekniskGennemgang_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="ByggetekniskGennemgang" type="ehp:ByggetekniskGennemgangType" />
  <complexType name="ByggetekniskGennemgangType">
    <sequence>
      <element name="SaelgerForetageGennemgangIndikator" type="boolean" />
      <element name="FuldmagtRekvirereGennemgangIndikator" type="boolean" />
    </sequence>
  </complexType>
</schema>