EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_IndsigelsesberettigetPart_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:part="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_IndsigelsesberettigetPart_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_IndsigelsesberettigetPart_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Part_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" />
  <element name="IndsigelsesberettigetPart" type="tns:IndsigelsesberettigetPartType" />
  <complexType name="IndsigelsesberettigetPartType">
    <complexContent mixed="false">
      <extension base="part:PartType">
        <sequence minOccurs="0">
          <element name="IndsigelsesFristDato" type="date" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>