EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_DeltagerMetadata_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:part="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_DeltagerMetadata_v1" xmlns:rolleogindehaver="http://efpi.dk/ehp2011/xml/schemas/EFPI_RolleOgIndehaver_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_DeltagerMetadata_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_RolleOgIndehaver_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_RolleOgIndehaver_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Part_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Part_v1" />
  <element name="DeltagerMetadata" type="tns:DeltagerMetadataType" />
  <complexType name="DeltagerMetadataType">
    <sequence>
      <element name="Tidsstempel" type="dateTime">
        <annotation>
          <documentation>Angiver tidspunktet for hvornaar deltageren er tilknyttet i rollen</documentation>
        </annotation>
      </element>
      <element name="DeltagerBeskrivelse" type="rolleogindehaver:RolleOgIndehaverType" />
      <element minOccurs="0" ref="part:Part" />
      <element minOccurs="0" name="Aktiv" type="boolean" />
    </sequence>
  </complexType>
</schema>