EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_DokumentReference_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_DokumentReference_v1" xmlns:dokumentkat="http://efpi.dk/ehp2011/xml/schemas/EFPI_DokumentKategori_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_DokumentReference_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_DokumentKategori_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_DokumentKategori_v1" />
  <element name="DokumentReference" type="tns:DokumentReferenceType" />
  <complexType name="DokumentReferenceType">
    <sequence>
      <element name="Versionsnummer" type="integer" />
      <element ref="dokumentkat:DokumentKategori" />
    </sequence>
  </complexType>
</schema>