EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Oekonomi_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:kontantbehovsamling="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantbehovSamling_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:finansiering="http://efpi.dk/ehp2011/xml/schemas/EFPI_Finansiering_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Oekonomi_v1" xmlns:standardfinansiering="http://efpi.dk/ehp2011/xml/schemas/EFPI_StandardFinansiering_v1" xmlns:ejendomsvaediskat="http://efpi.dk/ehp2011/xml/schemas/EFPI_Ejendomsvaerdiskat_v1" xmlns:ejendomsskat="http://efpi.dk/ehp2011/xml/schemas/EFPI_Ejendomsskat_v1" xmlns:kontantpris="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1" xmlns:ejerudgiftsamling="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjerudgifterSamling_v1" xmlns:gaeldudenforkoebesummen="http://efpi.dk/ehp2011/xml/schemas/EFPI_GaeldUdenforKoebesummenSamling_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Oekonomi_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_EjerudgifterSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_EjerudgifterSamling_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KontantbehovSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantbehovSamling_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Ejendomsskat_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Ejendomsskat_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Ejendomsvaerdiskat_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Ejendomsvaerdiskat_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_StandardFinansiering_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_StandardFinansiering_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Finansiering_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Finansiering_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_GaeldUdenforKoebesummenSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_GaeldUdenforKoebesummenSamling_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <element name="Oekonomi" type="tns:OekonomiType" />
  <complexType name="OekonomiType">
    <sequence>
      <element ref="kontantpris:KontantPrisBeloeb" />
      <element ref="ejerudgiftsamling:EjerudgifterSamling" />
      <element minOccurs="0" ref="kontantbehovsamling:KontantbehovSamling" />
      <element ref="ejendomsskat:Ejendomsskat" />
      <element ref="ejendomsvaediskat:Ejendomsvaerdiskat" />
      <element ref="standardfinansiering:StandardFinansiering" />
      <element ref="finansiering:Finansiering" />
      <element name="SkattefradragProcent" type="decimal" />
      <element ref="gaeldudenforkoebesummen:GaeldUdenforKoebesummenSamling" />
      <element name="Ejendomsvaerdi" type="model:BeloebValutaType" />
      <element name="Grundvaerdi" type="model:BeloebValutaType" />
      <element minOccurs="0" name="Stuehusvaerdi" type="model:BeloebValutaType" />
      <element name="Grundlagforejendomsskat" type="model:BeloebValutaType" />
      <element name="Grundskatteloftvaerdi" type="model:BeloebValutaType" />
    </sequence>
  </complexType>
</schema>