EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Forsikring_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:tekstgruppe="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:aarligpreaemie="http://efpi.dk/ehp2011/xml/schemas/EFPI_AarligPreaemie_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Forsikring_v1" xmlns:daekningsomfang="http://efpi.dk/ehp2011/xml/schemas/EFPI_DaekningsomfangSamling_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Forsikring_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_DaekningsomfangSamling_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_DaekningsomfangSamling_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_AarligPreaemie_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_AarligPreaemie_v1" />
  <element name="Forsikring" type="tns:ForsikringType" />
  <complexType name="ForsikringType">
    <sequence>
      <element name="Forsikringsselskab" type="strings:StringMin2Max64" />
      <element name="Policenr" type="strings:StringMin2Max256" />
      <element ref="daekningsomfang:DaekningsomfangSamling" />
      <element minOccurs="0" name="AndenDaekning" type="strings:StringMin2Max256" />
      <element ref="aarligpreaemie:AarligPreaemie" />
      <element name="Forbehold" type="tekstgruppe:TekstGruppeType" />
      <element name="ForsikringsTilbudIndikator" type="boolean" />
    </sequence>
  </complexType>
</schema>