EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Deponeringskonti_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:konto="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kontonummer_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Deponeringskonti_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Deponeringskonti_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Kontonummer_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kontonummer_v1" />
  <element name="Deponeringskonti" type="tns:DeponeringskontiType" />
  <complexType name="DeponeringskontiType">
    <sequence>
      <element minOccurs="0" name="SaelgersPengeinstitut" type="konto:KontonummerType" />
      <element minOccurs="0" name="Ejendomsmaegler" type="konto:KontonummerType" />
    </sequence>
  </complexType>
</schema>