EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_XMLDiffElement_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:strings="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_XMLDiffElement_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_XMLDiffElement_v1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <element name="XMLDiffElement" type="tns:XMLDiffElementType" />
  <element name="XMLDiffRow" type="tns:XMLDiffRowType" />
  <complexType name="XMLDiffElementType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Name" type="strings:StringMax1000" />
      <choice minOccurs="0" maxOccurs="1">
        <element maxOccurs="1" name="TextContent" type="strings:StringMax1000" />
        <element maxOccurs="unbounded" name="Element" type="tns:XMLDiffElementType" />
      </choice>
    </sequence>
  </complexType>
  <complexType name="XMLDiffRowType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="Path" type="strings:StringMax1000" />
      <element minOccurs="1" maxOccurs="1" name="From" type="tns:XMLDiffElementType" />
      <element minOccurs="1" maxOccurs="1" name="To" type="tns:XMLDiffElementType" />
    </sequence>
  </complexType>
</schema>