EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_VaerdiansaettelseUdbudspris_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:kontantprisbeloeb="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_VaerdiansaettelseUdbudspris_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_VaerdiansaettelseUdbudspris_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantPrisBeloeb_v1" />
  <element name="VaerdiansaettelseUdbudspris" type="tns:VaerdiansaettelseUdbudsprisType" />
  <complexType name="VaerdiansaettelseUdbudsprisType">
    <sequence>
      <element name="Dato" type="date" />
      <element ref="kontantprisbeloeb:KontantPrisBeloeb" />
    </sequence>
  </complexType>
</schema>