EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Anmodning_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:s="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anmodning_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Anmodning_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Strings_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Strings_v1" />
  <element name="Anmodning" type="tns:AnmodningType" />
  <complexType name="AnmodningType">
    <sequence>
      <element minOccurs="0" name="Begrundelse" type="s:StringMin2Max10K" />
    </sequence>
  </complexType>
</schema>