EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Kontantbehov_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kontantbehov_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:kode="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantbehovKode_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Kontantbehov_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_KontantbehovKode_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_KontantbehovKode_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <element name="Kontantbehov" type="tns:KontantbehovType" />
  <complexType name="KontantbehovType">
    <sequence>
      <choice>
        <element ref="kode:KontantbehovKode" />
        <element name="KontantbehovTekst" type="string" />
      </choice>
      <element name="SaelgersAndel" type="double" />
      <element minOccurs="0" ref="model:BeloebValuta" />
    </sequence>
  </complexType>
</schema>