EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_ForhoejelseAfSikkerhedTilEF_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tlshaeftelse="http://rep.oio.dk/tinglysning.dk/xml.schema/2008.01.01/" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_ForhoejelseAfSikkerhedTilEF_v1" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_ForhoejelseAfSikkerhedTilEF_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../rep.oio.dk/tls.dk/xml/schemas/2008/01/01/tls.xsd" namespace="http://rep.oio.dk/tinglysning.dk/xml.schema/2008.01.01/" />
  <element name="ForhoejelseAfSikkerhedTilEF" type="tns:ForhoejelseAfSikkerhedTilEFType" />
  <complexType name="ForhoejelseAfSikkerhedTilEFType">
    <sequence>
      <element ref="tlshaeftelse:HaeftelseType" />
      <element name="Beloeb" type="model:BeloebValutaType" />
    </sequence>
  </complexType>
</schema>