EHP_Client/Connected Services/ServiceReferenceEjendomshandel/EFPI_Tilstandsrapport_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:udarbejdetaf="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdarbejdetAf_v1" xmlns:tns="http://efpi.dk/ehp2011/xml/schemas/EFPI_Tilstandsrapport_v1" xmlns:loebenummer="http://efpi.dk/ehp2011/xml/schemas/EFPI_Loebenummer_v1" elementFormDefault="qualified" targetNamespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Tilstandsrapport_v1" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_UdarbejdetAf_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_UdarbejdetAf_v1" />
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../ehp2011/xml/schemas/EFPI_Loebenummer_v1.xsd" namespace="http://efpi.dk/ehp2011/xml/schemas/EFPI_Loebenummer_v1" />
  <element name="Tilstandsrapport" type="tns:TilstandsrapportType" />
  <complexType name="TilstandsrapportType">
    <sequence>
      <element name="UdarbejdelsesDato" type="date" />
      <element ref="udarbejdetaf:UdarbejdetAf" />
      <element ref="loebenummer:Loebenummer" />
    </sequence>
  </complexType>
</schema>