EHP_Client/Connected Services/ServiceReferenceEjendomshandel/Ejdmbm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../e-nettet.dk/xml/schemas/2007/07/01/FeltTyper.xsd" />
  <xs:element name="EJDMBM" type="tns:EJDMBM_Type" />
  <xs:complexType name="EJDMBM_Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ejendomsbemaerkninger" type="tns:AN70" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>