EHP_Client/Connected Services/ServiceReferenceEjendomshandel/Ejdmid_svar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" xml:lang="DA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../e-nettet.dk/xml/schemas/2007/07/01/FeltTyper.xsd" />
  <xs:include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../e-nettet.dk/xml/schemas/2007/07/01/Sted.xsd" />
  <xs:element name="EJDMIDSVAR" type="tns:EJDMIDSVAR_Type" />
  <xs:complexType name="EJDMIDSVAR_Type">
    <xs:sequence>
      <xs:element name="Ejendomsident" type="tns:AN12" />
      <xs:element maxOccurs="99" ref="tns:STED" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>