EHP_Client/Connected Services/ServiceReferenceEjendomshandel/Ejerlejlighed.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/FaellesEjendomIdentifikator.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/Ejerlejlighedsnummer.xsd" />
  <element name="Ejerlejlighed" type="model:EjerlejlighedType">
    <annotation>
      <documentation>Angiver en ejendom af typen ejerlejlighed.</documentation>
    </annotation>
  </element>
  <complexType name="EjerlejlighedType">
    <sequence>
      <element ref="model:Ejerlejlighedsnummer" />
      <element minOccurs="0" name="BeliggenhedTekst" type="string" />
      <element minOccurs="0" ref="model:FaellesEjendomIdentifikator" />
    </sequence>
  </complexType>
</schema>