EHP_Client/Connected Services/ServiceReferenceEjendomshandel/ForespoergselsIdentifikator.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/Uuid.xsd" />
  <element name="ForespoergselsIdentifikator" type="model:ForespoergselsIdentifikatorType">
    <annotation>
      <documentation>Identifikator for en forespoergsel til refusion af forespoergselsafgiften.</documentation>
    </annotation>
  </element>
  <complexType name="ForespoergselsIdentifikatorType">
    <sequence>
      <element name="Id" type="model:UUIDType">
        <annotation>
          <documentation>Hvis denne forespoergselsidentifikator, indenfor 6 hverdage, returneres i en anmeldelse, der vedroerer
            samme objekt og dette samtidig foerer til en godkendt tinglysning, krediteres forespoergeren for forespoergselsafgiften.
            (kilde: Baseline-v1.1 kap. 8)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>