EHP_Client/Connected Services/ServiceReferenceEjendomshandel/FristInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" />
  <element name="FristInformation" type="eakt:FristInformationType">
    <annotation>
      <documentation>FristInformation ved tinglysning med frist. Her oplyses aarsag og fristdato.</documentation>
    </annotation>
  </element>
  <complexType name="FristInformationType">
    <sequence>
      <element name="FristDato" type="date" />
      <element ref="model:BemaerkningTekstAngivelse" />
    </sequence>
  </complexType>
</schema>