EHP_Client/Connected Services/ServiceReferenceEjendomshandel/HaeftelseReferenceRente.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/HaeftelseRenteSats.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/ReferenceRenteNavn.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/ReferenceRenteTillaegFradrag.xsd" />
  <element name="HaeftelseReferenceRente" type="model:HaeftelseReferenceRenteType">
    <annotation>
      <documentation>Referencerente paa en haeftelse</documentation>
    </annotation>
  </element>
  <complexType name="HaeftelseReferenceRenteType">
    <sequence>
      <element ref="model:ReferenceRenteNavn" />
      <element minOccurs="0" name="ReferenceRenteSats" type="model:HaeftelseRenteSatsType">
        <annotation>
          <documentation>Den aktuelle referencerentes vaerdi (procentsats pro anno) paa anmeldelsestidspunktet.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ReferenceRenteTillaegFradrag" type="model:ReferenceRenteTillaegFradragType">
        <annotation>
          <documentation>Angiver et tillaeg eller fradrag, som sammen med referencerentesatsen giver den aktuelle rentesats paa
            anmeldelsestidspunktet.
          </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>