EHP_Client/Connected Services/ServiceReferenceEjendomshandel/NoteringTekst.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/TekstAngivelse.xsd" />
  <element name="NoteringTekst" type="model:NoteringTekstType">
    <annotation>
      <documentation>Notering paa ejendom eller matrikel</documentation>
    </annotation>
  </element>
  <complexType name="NoteringTekstType">
    <sequence>
      <element name="Tekst" type="model:TekstAngivelseType" />
      <element minOccurs="0" name="Dato" type="date" />
    </sequence>
  </complexType>
</schema>