EHP_Client/Connected Services/ServiceReferenceEjendomshandel/RaadighedsindskraenkningSummarisk.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/RaadighedsindskraenkningKode.xsd" />
  <element name="RaadighedsindskraenkningSummarisk" type="eakt:RaadighedsindskraenkningSummariskType">
    <annotation>
      <documentation>Oplysning om raadighedsindskraenkning.</documentation>
    </annotation>
  </element>
  <complexType name="RaadighedsindskraenkningSummariskType">
    <sequence>
      <element ref="eakt:RaadighedsindskraenkningKode" />
      <element name="RaadighedsindskraenkningTekst" type="string" />
    </sequence>
  </complexType>
</schema>