EHP_Client/Connected Services/ServiceReferenceEjendomshandel/ReferenceRenteTillaegFradrag.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/FastVariabelIndikator.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/HaeftelseRenteSats.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/TillaegFradragIndikator.xsd" />
  <element name="ReferenceRenteTillaegFradrag" type="model:ReferenceRenteTillaegFradragType">
    <annotation>
      <documentation />
    </annotation>
  </element>
  <complexType name="ReferenceRenteTillaegFradragType">
    <sequence>
      <element ref="model:TillaegFradragIndikator">
        <annotation>
          <documentation>Angiver om der er tale om et tillaeg eller fradrag.</documentation>
        </annotation>
      </element>
      <element name="Procentsats" type="model:HaeftelseRenteSatsType">
        <annotation>
          <documentation>Angiver den aktuelle procentsats for tillaeget/fradraget.</documentation>
        </annotation>
      </element>
      <element ref="model:FastVariabelIndikator">
        <annotation>
          <documentation>Angiver om tillaeget/fradraget er variabelt eller fast i haeftelsens loebetid.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>