EHP_Client/Connected Services/ServiceReferenceEjendomshandel/ServitutFortrinsret.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:ois="http://rep.oio.dk/ois.dk/xml/schemas/2006/04/25/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/TekstAngivelse.xsd" />
  <element name="ServitutFortrinsret" type="model:ServitutFortrinsretType">
    <annotation>
      <documentation>Angiver om servitutten kan tinglyses med fortrinsret.</documentation>
    </annotation>
  </element>
  <complexType name="ServitutFortrinsretType">
    <sequence>
      <element name="FortrinsretIndikator" type="boolean">
        <annotation>
          <documentation>True angiver at servitutten kan tillaegges prioritetsstilling forud for allerede tinglyste rettigheder i
            henhold til den angivne lovhjemmel. False angiver det modsatte.
          </documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="FortrinsretTekst" type="model:TekstAngivelseType">
        <annotation>
          <documentation>Denne skal angives naar ovenstaaende er True.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>