EHP_Client/Connected Services/ServiceReferenceEjendomshandel/Timeshare.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="Timeshare" type="model:TimeshareType">
    <annotation>
      <documentation>Angiver en ejendom af typen timeshare.</documentation>
    </annotation>
  </element>
  <complexType name="TimeshareType">
    <sequence>
      <element name="Timesharenummer" type="nonNegativeInteger">
        <annotation>
          <documentation>Identificerer en lejlighed i en ejendom af ejendomstypen HovedejendomTimeshare.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>