EHP_Client/Connected Services/ServiceReferenceEjendomshandel/UmatrikuleretKoordinater.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:osak="http://rep.oio.dk/osak.dk/xml/schemas/2006/04/25/" xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../rep.oio.dk/osak.dk/xml/schemas/2006/04/25/osak.xsd" namespace="http://rep.oio.dk/osak.dk/xml/schemas/2006/04/25/" />
  <element name="UmatrikuleretKoordinater" type="model:UmatrikuleretKoordinaterType">
    <annotation>
      <documentation>Koordinater paa et umatrikuleretareal. Angivet med min. System 2000 (UTM EUREF 89).</documentation>
    </annotation>
  </element>
  <complexType name="UmatrikuleretKoordinaterType">
    <sequence>
      <element ref="osak:CoordETRS89z32EMeasure">
        <annotation>
          <documentation>Easting koordinat i UTM Zone 32</documentation>
        </annotation>
      </element>
      <element ref="osak:CoordETRS89z32NMeasure">
        <annotation>
          <documentation>Northing koordinat i UTM Zone 32</documentation>
        </annotation>
      </element>
      <sequence minOccurs="0">
        <element name="adrXKoordinat" type="decimal">
          <annotation>
            <documentation>System 34 X-koordinat</documentation>
          </annotation>
        </element>
        <element name="adrYKoordinat" type="decimal">
          <annotation>
            <documentation>System 34 Y-koordinat</documentation>
          </annotation>
        </element>
      </sequence>
    </sequence>
  </complexType>
</schema>