EHP_Client/Connected Services/ServiceReferenceEjendomshandel/Underpantrettighed.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:model="http://rep.oio.dk/tinglysning.dk/schema/model/1/" xmlns:eakt="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/tinglysning.dk/schema/model/1/" version="11.0.4" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/elektroniskakt/1/tinglysning.xsd" namespace="http://rep.oio.dk/tinglysning.dk/schema/elektroniskakt/1/" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/BeloebValuta.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/DokumentRevisionIdentifikator.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/PrioritetNummer.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/RettighedIdentifikator.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/ejendomshandel/Ejendomshandel.eFPI?xsd=../../../../tinglysning.dk/schema/model/1/RolleInformationSamling.xsd" />
  <element name="Underpantrettighed" type="model:UnderpantrettighedType">
    <annotation>
      <documentation>
			Angiver et underpant i en pantrettighed. Underpant har deres egen underordnede
			prioritetsstilling og sin egen unikke rettighedsidentifkator. Der returneres identifikation af underpantets dokument i form af DokumenRevisionIdentifikator og underpantets beloeb.   
			</documentation>
    </annotation>
  </element>
  <complexType name="UnderpantrettighedType">
    <sequence>
      <element ref="model:DokumentRevisionIdentifikator" />
      <element ref="eakt:DokumentAlias" />
      <element ref="model:RettighedIdentifikator" />
      <element name="UnderpantBeloeb" type="model:BeloebValutaType">
        <annotation>
          <documentation>Det beloeb der er gaeldende for underpantsaetningen.</documentation>
        </annotation>
      </element>
      <element ref="model:PrioritetNummer">
        <annotation>
          <documentation>Prioriteten for underpantet, ikke at forveksle med prioriteten for selve pantebrevet. </documentation>
        </annotation>
      </element>
      <element name="UnderpanthaverInformationSamling" type="model:RolleInformationSamlingType" />
      <element minOccurs="0" ref="eakt:AnmaerkningSamling" />
      <element minOccurs="0" ref="eakt:FristInformationSamling" />
    </sequence>
  </complexType>
</schema>