EHP_Client/Connected Services/ServiceReferenceSagshaandtering/ForrMaessigRefOgKontaktInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xkom="http://rep.oio.dk/xkom.dk/xml/schemas/2005/03/15/" xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" xmlns:itst="http://rep.oio.dk/itst.dk/xml/schemas/2005/01/10/" xmlns:vd="http://rep.oio.dk/vd.dk/xml/schemas/2004/02/16/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/sagshaandtering/Sagshaandtering.eFPI?xsd=../../../../../../../e-nettet.dk/xml/schemas/2007/07/01/RefOgKontaktInfo.xsd" />
  <xs:include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/sagshaandtering/Sagshaandtering.eFPI?xsd=../../../../../../../e-nettet.dk/xml/schemas/2007/07/01/PartInformationSamling.xsd" />
  <xs:element name="ForrMaessigRefOgKontaktInfo" type="tns:ForrMaessigRefOgKontaktInfoType" />
  <xs:complexType name="ForrMaessigRefOgKontaktInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AfsenderInformation" type="tns:RefOgKontaktInfoType" />
      <xs:element minOccurs="0" ref="tns:PartInformationSamling" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>