EHP_Client/Connected Services/ServiceReferenceAktoerregister/BASIS_KontaktInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="da" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_TelefonNummerSamling.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_EmailSamling.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_AdresseSamling.xsd" />
  <element name="KontaktInformation" type="tns:KontaktInformationType" />
  <complexType name="KontaktInformationType">
    <sequence>
      <element name="MedarbejderNavn">
        <simpleType>
          <restriction base="string">
            <minLength value="1" />
            <maxLength value="256" />
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="KontaktType">
        <simpleType>
          <restriction base="string">
            <enumeration value="JuridiskKontakt" />
            <enumeration value="ForretningsKontakt" />
            <enumeration value="DriftsKontakt" />
          </restriction>
        </simpleType>
      </element>
      <element ref="tns:TelefonNummerSamling" />
      <element ref="tns:EmailSamling" />
      <element ref="tns:AdresseSamling" />
      <element minOccurs="0" name="Beskrivelse">
        <simpleType>
          <restriction base="string">
            <minLength value="1" />
            <maxLength value="256" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
</schema>