EHP_Client/Connected Services/ServiceReferenceAktoerregister/BASIS_eFPIDokument.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://efpi.dk/basis/xml/schemas/2007/07/01/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://efpi.dk/basis/xml/schemas/2007/07/01/" xml:lang="DA" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_DokumentID.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_DokumentStatus.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_DokumentReference.xsd" />
  <include schemaLocation="https://test-bolighandel.e-nettet.dk:443/efpi/aktoerregister/Aktoerregister.eFPI?xsd=../../../basis/xml/schemas/2007/07/01/BASIS_DokumentType.xsd" />
  <element name="eFPIDokument" type="tns:eFPIDokumentType" />
  <complexType name="eFPIDokumentType">
    <sequence>
      <element name="eFPIDokumentID" type="tns:DokumentIDType" />
      <element name="eFPIDokumentStatus" type="tns:DokumentStatusType" />
      <element name="eFPIDokumentType" type="tns:DokumentTypeType" />
    </sequence>
  </complexType>
</schema>